name: Lint and Format Check

on:
  push:
    branches: [main]
  pull_request: # run for any open PR into main and on new commits
    types: [opened, synchronize, reopened, ready_for_review]
    branches: [main]

jobs:
  stylua:
    name: Check Lua Formatting
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Setup Stylua
        uses: JohnnyMorganz/stylua-action@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          version: latest
          args: --check .

  luacheck:
    name: Lua Linting
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Luacheck
        run: |
          sudo apt-get update
          sudo apt-get install -y luarocks
          sudo luarocks install luacheck

      - name: Run Luacheck
        run: luacheck . --exclude-files .git --globals vim
